.quote-total {
    position: fixed;
    bottom: 0;
    width: 100%;

    margin-right: 5rem;

    font-size: var(--font-size-xl);
    font-weight: bold;
    background-color: var(--color-white);
    box-shadow: var(--shadow-large);
  
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }
  
  @media (min-width: 50rem) {
    .quote-total {
      padding-top: var(--space-m);
      padding-bottom: var(--space-m);
    }
  }
  
  .quote-total__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  