/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */





 
 @import "navbar";
 @import "flash";
 @import "flash_animation";
 @import "empty_state";
 @import "line_item_date";
 @import "line_item";
 @import "total";


 body{
    font-family: cursive;
    margin: 5px;
  }
  
  a{
    color: darkgrey;
  }
  
  .turbo-progress-bar {
      background: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));
    }
  
  .simple_form{
    /* width: 100%; */
    display: flex;
    margin: 1rem 0;
  }
  .form_fields{
    margin: 0 5px;
  }
